/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

body{
    margin: 0;
    padding: 0;
    width: 100%;
}
header{
    width: 100%;
    background-color: #F4F4F4;
    margin: 0;
    padding: 0;
}
main{
    background-color: #F4F4F4;
}
.top-navbar{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}
.search-box{
    display: flex;
    padding-left: 30px;
}
.input-search {
    border-bottom: 1px solid rgb(20, 19, 19);
}
.input-search input{
    outline: none;
    background: transparent;
    border: none;
}
.logo{
    font-family: 'Niconne', cursive;
    font-size: 50px;
    font-weight: 900;
    color: rgb(58, 105, 134);
}
.specific-color{
    color: rgba(0, 0, 0, 0.747);
}
.access{
    display: flex;
    padding-right: 30px;
}

.access a{
    font-size: 23px;
    color: rgba(29, 1, 29, 0.753);
    padding-left: 20px;
}
.slide-font{
    font-family: 'Rubik', sans-serif;
}
.card-radius{
    border-radius: 30px;
}
.buy-button{
    background-color: rgba(126, 40, 114, 0.877);
    border: none;
    width: 120px;
    padding: 8px 10px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20;
    border-radius: 5px;
}
.fa-arrow-right{
    padding-left: 5px;
}
    